[user]
	name = mlorthiois
	email = matthias.lts@gmail.com
[color]	
	ui = auto	
[core]	
	excludesfile = /Users/matthiaslorthiois/.gitignore_global	
[credential]	
	helper = cache	
[filter "lfs"]	
	required = true	
	clean = git-lfs clean -- %f	
	smudge = git-lfs smudge -- %f	
	process = git-lfs filter-process
[pull]
	rebase = true
